/* Tailwind Core */
@import "tailwindcss";

@import "tw-animate-css";

/** Dark Mode Variant **/
@custom-variant dark (&:is(.dark *));

/** Colors - https://tailwindcss.com/docs/colors **/
:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-zinc-950);
  --card: var(--color-white);
  --card-foreground: var(--color-zinc-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-950);
  --primary: var(--color-zinc-900);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-zinc-100);
  --secondary-foreground: var(--color-zinc-900);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: oklch(
    94% 0.004 286.32
  ); /* between --color-zinc-100 and --color-zinc-200 */
  --input: var(--color-zinc-200);
  --ring: var(--color-zinc-400);
  --radius: 0.5rem;

  /* custom */
  --sidebar-main: var(--color-transparent);
  --sidebar-main-foreground: var(--foreground);
  --sidebar-secondary: var(--color-transparent);
  --sidebar-secondary-foreground: var(--foreground);
}

.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --card: var(--color-zinc-950);
  --card-foreground: var(--color-zinc-50);
  --popover: var(--color-zinc-950);
  --popover-foreground: var(--color-zinc-50);
  --primary: var(--color-zinc-300);
  --primary-foreground: var(--color-zinc-950);
  --secondary: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-50);
  --muted: var(--color-zinc-900);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-zinc-900);
  --accent-foreground: var(--color-zinc-50);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-white);
  --chart-1: var(--color-blue-500);
  --chart-2: var(--color-green-500);
  --chart-3: var(--color-yellow-500);
  --chart-4: var(--color-red-500);
  --chart-5: var(--color-purple-500);
  --border: var(--color-zinc-800);
  --input: var(--color-zinc-800);
  --ring: var(--color-zinc-600);

  /* custom */
  --sidebar-main: var(--color-transparent);
  --sidebar-main-foreground: var(--foreground);
  --sidebar-secondary: var(--color-transparent);
  --sidebar-secondary-foreground: var(--foreground);
}

/* Brand Colors */
[data-theme-brand="wit"] {
  --primary: oklch(72.65% 69.19 30.24);
  --primary-foreground: var(--color-white);
  --secondary: oklch(47.86% 25.15 13.12);

  --sidebar-main: var(--color-neutral-900);
  --sidebar-main-foreground: var(--color-white);
  --sidebar-secondary: var(--color-neutral-800);
  --sidebar-secondary-foreground: var(--color-white);
}

/* Radius */
[data-theme-radius="none"] {
  --radius: 0;
}

[data-theme-radius="sm"] {
  --radius: 0.3rem;
}

[data-theme-radius="md"] {
  --radius: 0.7rem;
}

[data-theme-radius="lg"] {
  --radius: 1.2rem;
}

[data-theme-radius="xl"] {
  --radius: 2rem;
}

/* Scale */
[data-theme-scale="xs"] {
  --text-lg: 1.05rem;
  --text-base: 0.85rem;
  --text-sm: 0.75rem;
  --spacing: 0.222222rem;
}

[data-theme-scale="lg"] {
  --text-lg: 1.55rem;
  --text-base: 1.35rem;
  --text-sm: 1rem;
  --spacing: 0.262222rem;
}

/* Centered */
@media (min-width: 40rem) {
  .xl\:group-data-\[theme-content-layout\=centered\]\/layout\:container:is(
    :where(.group\/layout)[data-theme-content-layout="centered"] *
  ) {
    max-width: 40rem;
  }
}
@media (min-width: 48rem) {
  .xl\:group-data-\[theme-content-layout\=centered\]\/layout\:container:is(
    :where(.group\/layout)[data-theme-content-layout="centered"] *
  ) {
    max-width: 48rem;
  }
}
@media (min-width: 64rem) {
  .xl\:group-data-\[theme-content-layout\=centered\]\/layout\:container:is(
    :where(.group\/layout)[data-theme-content-layout="centered"] *
  ) {
    max-width: 64rem;
  }
}
@media (min-width: 80rem) {
  .xl\:group-data-\[theme-content-layout\=centered\]\/layout\:container:is(
    :where(.group\/layout)[data-theme-content-layout="centered"] *
  ) {
    max-width: 80rem;
  }
}
@media (min-width: 96rem) {
  .xl\:group-data-\[theme-content-layout\=centered\]\/layout\:container:is(
    :where(.group\/layout)[data-theme-content-layout="centered"] *
  ) {
    max-width: 96rem;
  }
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /** Animations **/
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  /* Brand Colors */
  --color-sidebar-main: var(--sidebar-main);
  --color-sidebar-main-foreground: var(--sidebar-main-foreground);
  --color-sidebar-secondary: var(--sidebar-secondary);
  --color-sidebar-secondary-foreground: var(--sidebar-secondary-foreground);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/** Custom Scrollbar **/
@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }
}

/** Smooth scroll **/
html {
  scroll-behavior: smooth;
}

/** Custom Containers **/
@utility container {
  @apply mx-auto max-w-none px-4 lg:px-5;

  @media (width >= --theme(--breakpoint-xl)) {
    @apply max-w-(--breakpoint-xl);
  }
}

@utility container-fluid {
  @apply mx-auto w-full px-4 lg:px-5;
}

/* Metronic Configs */
@import "./config.metronic.css";
